@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  font-family: "Source Code Pro", monospace;
  color: #d4d4d4;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.home-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
/* Development Banner */
.development-banner {
  position: absolute; /* Change to absolute to stay within home-container */
  top: 20px; /* Slightly down from the top */
  left: 50%;
  transform: translateX(-50%);
  color: #f02525; /* White text color */
  padding: 8px 20px;
  border-radius: 8px; /* Rounded corners */
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
  z-index: 1000; /* Ensure the banner is above other elements */
  pointer-events: none; /* Make the banner non-interactive */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.development-banner p {
  margin: 0;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the image is behind other content */
}

.fireflies {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.firefly {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: rgba(255, 255, 204, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 8px 2px rgba(255, 255, 204, 0.6);
  animation: moveFirefly linear infinite;
  animation-duration: calc(
    4s + 3s * var(--random-speed)
  ); /* Slower and smoother movement */
  animation-timing-function: ease-in-out; /* Smooth easing */
}

@keyframes moveFirefly {
  0% {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translateX(calc(200px - 400px * var(--random-x)))
      translateY(calc(200px - 200px * var(--random-y))) scale(1.5);
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(calc(400px - 800px * var(--random-x)))
      translateY(calc(200px - 400px * var(--random-y))) scale(1);
    opacity: 0;
  }
}

.moon {
  position: absolute;
  top: 7%; /* Position near the top */
  right: 7%; /* Position near the right */
  width: 3vw; /* Responsive width */
  height: 3vw; /* Responsive height */
  max-width: 150px; /* Max size for larger screens */
  max-height: 150px;
  background: radial-gradient(
      circle at 80% 50%,
      #ffa578 0%,
      #ffe9ac 70%,
      rgba(0, 0, 0, 0) 100%
    ),
    /* Blend of light red to light yellow */
      radial-gradient(circle at left, #ffe9ac 0%, rgba(0, 0, 0, 0) 70%); /* Light yellow fading to transparent */
  border-radius: 50%;
  box-shadow: 0 0 50px 25px rgba(255, 255, 255, 0.6),
    0 0 100px 50px rgba(255, 255, 255, 0.4),
    0 0 150px 75px rgba(255, 183, 77, 0.2); /* Enhanced glowing effect */
  z-index: 1;
  animation: radiate 4s infinite ease-in-out;
}

@keyframes radiate {
  0%,
  100% {
    box-shadow: 0 0 50px 25px rgba(255, 255, 255, 0.6),
      0 0 100px 50px rgba(255, 255, 255, 0.4),
      0 0 150px 75px rgba(255, 183, 77, 0.2);
  }
  50% {
    box-shadow: 0 0 70px 35px rgba(255, 255, 255, 0.6),
      0 0 120px 60px rgba(255, 255, 255, 0.4),
      0 0 170px 85px rgba(255, 183, 77, 0.2);
  }
}

/* Animation for sliding and fading in from the left */
@keyframes slideInLeft {
  0% {
    transform: translate(-100%, -50%); /* Start off-screen to the left */
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%); /* End at centered position */
    opacity: 1;
  }
}

/* Updated animation for fading in the subtitle */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animation for sliding and fading in from the bottom */
@keyframes slideInUp {
  0% {
    transform: translate(-50%, 100%); /* Start off-screen at the bottom */
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%); /* End at centered position */
    opacity: 1;
  }
}

.title-container {
  animation: slideInLeft 1s ease-out forwards;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  font-size: clamp(18px, 3vw, 48px); /* Responsive font size */
  font-weight: 700; /* Thicker font style */
  color: #ffffff; /* White color for the title */
  margin: 0;
}

.highlight {
  color: #ffa500; /* Orange color for 'Mitansh Chaudhari' */
}

/* subtitle container */
.sub-title-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3vw;
  font-weight: 500;
  color: #d4d4d4;
  margin-top: 1vw;
  opacity: 0; /* Start fully hidden */
  animation: fadeIn 1.5s ease-out forwards;
  animation-delay: 1s; /* Delay to start after the title animation */
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Adjust the jump height */
  }
}

.social-icons-container {
  position: absolute;
  top: 65%; /* Adjust as needed for spacing */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between icons */
  z-index: 2;
  animation: slideInUp 1.5s ease-out forwards;
}

.social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid gray; /* Gray border */
  transition: all 0.3s ease-in-out;
}

.social-icon svg {
  width: 45%;
  height: 45%;
  fill: white; /* Initial color */
}

.social-icon:hover {
  border-color: white; /* Change border to white on hover */
}

/* Smoother animation with cubic-bezier for a more natural motion */
.jump {
  animation: jump 0.8s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

/* Lottie Animation Container */
.lottie-animation-container {
  animation: slideInUp 1s ease-out forwards;
  position: absolute;
  top: 85%; /* Adjusted to position underneath the icons */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px; /* Size of the Lottie animation */
  height: 72px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

/* Hover Effect */
.lottie-animation-container:hover {
  transform: translate(-50%, -50%) scale(1.2); /* Pop-out effect on hover */
}

/* General styles for sections */
.about-section,
.projects-section,
.contact-section {
  background: linear-gradient(180deg, #121212, #1f1f1f 50%, #2a2a2a 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.about-title,
.projects-title,
.contact-title {
  font-size: 3em;
  color: #ffffff;
  text-align: center;
}

/* Footer styling */
.footer {
  background: linear-gradient(180deg, #1f1f1f 0%, #121212 100%);
  padding: 90px 0 20px 0; /* Adjusted padding */
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.footer .social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid gray; /* Border around icons */
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
  margin-bottom: 60px; /* Extra space between icons and copyright */

}

.footer .social-icon:hover {
  transform: scale(1.1); /* Enlarge on hover */
  border-color: white;
}

/* Arrow-up style */
.footer-arrow {
  position: absolute;
  top: -40px; /* Position arrow slightly above the footer */
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.arrow-up {
  width: auto;
  height: 70px;
  transition: transform 0.3s ease-in-out;
}

/* Hover effect for the up arrow */
.arrow-up:hover {
  transform: scale(1.2); /* Slight increase in size on hover */
}

/* Copyright text */
.copyright {
  font-size: 15px;
  color: #ffffff;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

